# Ignore general build results
*.exe
*.dll
*.lib
*.obj
*.res
*.[ao]
*.def
*.pdb
*.exp
**/Release/
**/Debug/
**/Release XP/
**/Debug XP/
*.log
*.tlog
**/*.log/
# Ignore archives
*.zip
# Ignore IDE profiles
*.user
*.suo
*.sdf
*.opensdf
*.aps
*.db
**/.vs/
*.layout
# Documentation
*.docx
!in_cwave.docx
# Code::Blocks tails
**/codeblocks/in_cwave/
**/codeblocks/test_mt_jrnd/
# Version control
**/.svn/
